/* aboutus.css */

/* Style the entire body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    /* Add styles for the header as needed */
}

/* Style the aboutus section */
#aboutus {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#aboutus h2 {
    text-align: center;
    color: #333;
    padding: 20px 0;
    background-color: #05bdf580;
    margin: 0;
}

#aboutus h3 {
    color: #007bff;
}

#aboutus p {
    margin-bottom: 20px;
}

#aboutus ul {
    list-style-type: none;
    padding: 0;
}

#aboutus ul li {
    margin-bottom: 10px;
}

/* Style the footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
/* Style the navbar */
.navbar {
    display: flex;
    align-items: center;
    background-color: #05bdf580;
    padding: 15px;
    margin-bottom: 20px;
}

.navbar-nav {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Add this line to make items equally spread */
}

.navbar-nav .nav-link {
    color: black;
    margin-right: 20px;
    font-size: 18px;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.navbar-nav .form-inline {
    display: flex;
    align-items: center;
}

.navbar-nav .form-control {
    margin-left: 20px;
}

.navbar-nav .btn {
    margin-left: 10px;
}
