
.welcome-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.greeting {
    font-size: 24px;
    margin-left: 30px; 
}

.welcome-message {
    font-size: 24px;
    margin-left: 20px;
    margin-top: 20px; 
}

.question {
    font-size: 20px;
    margin-left: 60px;
    margin-bottom: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    padding: 20px 0;
    background-color: #05bdf580;
    margin: 0;
}

form {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.option {
    margin: 10px 0;
}

input[type="radio"] {
    margin-right: 5px;
}

label {
    font-weight: bold;
}

#urlInputSection {
    display: none;
}

#urlInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#displayOptionSection {
    display: none;
    margin-top: 10px;
}

#textInputSection {
    margin-top: 10px;
}

#textInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#webpage-frame {
    display: none;
    border: none;
}
